.manualdatepicker{
    width:280px;
    height:max-content;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(163, 163, 163, 0.651);
    .menu-items{
        padding: 10px 20px;
        position: relative;
        cursor: pointer;
        span{
            margin-right: 10px;
            vertical-align: middle;
            display: inline-flex;
        }
        &:hover{
            background-color:rgb(235, 235, 235);
        }
        &.buttons{
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: default;
            > button{
                background-color: transparent;
                border:none;
                outline:none;
                font-size: 15px;
                font-weight: bolder;
                cursor: pointer;
            }
        }
    }
}

